{% extends "base.html" %}

{% block body %}
<div class="container mt-4">
    <h3>Kanala Göre</h3>
    <form method="post" action="{{ url_for('index.index') }}" class="d-flex">
        <div class="flex-grow-1 me-2 input-group-md">
            <label for="channel_username" class="form-label">Kanala Son 30 Gün İçinde Gelen Yorumlar İçin</label>
            <input type="text" class="form-control" id="channel_username" name="channel_username" placeholder="@kanal_ismi" required>
        </div>
        <div class="align-self-end">
          <button type="submit" class="btn btn-primary">Analiz Et</button>
      </div>
    </form>

    <br>
    <br>

    <h3>Videoya Göre</h3>

    <form id="commentForm" class="d-flex">
        <div class="flex-grow-1 me-2 input-group-md">
          <label for="url" class="form-label">Birden Fazla Video Url Girebilirsiniz</label>
            <input type="text" class="form-control" id="url" name="url" placeholder="YouTube url1, url2, ..."
                required>
        </div>
        <div class="align-self-end">
            <button type="submit" class="btn btn-primary">Analiz Et</button>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning mt-3">
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
</div>
{% endblock %}
